{% extends 'base.html.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block body %}
<h1>Administration des articles</h1>

{% if articles is empty %}
    <p>Aucun article n'a été créé.</p>
{% else %}
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.author.email }}</td>
                    <td>{{ article.createdAt|date('d/m/Y H:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
