{% extends 'base.html.twig' %}

{% block title %}Accès interdit{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1>403</h1>
    <p>Désolé, vous n’avez pas la permission d’accéder à cette page.</p>
    <a href="{{ path('home') }}" class="btn btn-primary mt-3">Retour à l’accueil</a>
</div>
{% endblock %}
