{% extends 'base.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1>500</h1>
    <p>Oups ! Une erreur est survenue sur le serveur.</p>
    <a href="{{ path('home') }}" class="btn btn-primary mt-3">Retour à l’accueil</a>
</div>
{% endblock %}
